:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );
}
.VPHero .image {
  background: radial-gradient(
    circle,
    rgba(189, 52, 254, 0.2),
    transparent 70%
  );
}
.VPHero .image img {
  max-width: 120px;
}
