:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe,
    #41d1ff
  );
}

/*:root {
  --vp-home-hero-name-color: transparent;

  --vp-home-hero-name-background: linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );
}*/

/*размер логотипа
.VPHero .image img {
  max-width: 180px;
}*/

.VPHero {
  position: relative;
}

.VPHero::before {
  content: "";
  position: absolute;

  width: 1400px;
  height: 1400px;

  background: radial-gradient(
    circle,
    rgba(189, 52, 254, 0.35),
    rgba(189, 52, 254, 0.12) 40%,
    rgba(189, 52, 254, 0.04) 60%,
    transparent 80%
  );

  filter: blur(140px);

  top: -450px;
  left: -300px;

  z-index: -1;
}

.VPHero::after {
  content: "";
  position: absolute;
  width: 1400px;
  height: 1400px;

  background: radial-gradient(
    circle,
    rgba(65, 209, 255, 0.35) 0%,
    rgba(65, 209, 255, 0.25) 25%,
    rgba(65, 209, 255, 0.15) 45%,
    rgba(65, 209, 255, 0.08) 60%,
    rgba(65, 209, 255, 0.02) 75%,
    transparent 90%
  );

  filter: blur(140px);
  bottom: -450px;
  right: -300px;
  z-index: -1;
}